body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: 25px;
	color: $text-dark;
	overflow-x: hidden;
}



a ,a:hover{
	color: $color-primary;
	text-decoration: underline;
}

a:hover {
	opacity: 0.8;
}

/*
Removes white gap between slides
*/
.carousel {
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
  height:auto;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}

#carousel-1 {
	width: 100% !important;
}


.container {
	max-width: 1190px;
}

#homeFeatures {
	min-height: 500px;
	padding-top: 250px;
	padding-bottom: 50px;
	margin-top: -380px;
	position: relative;
	z-index: 1000;
	background-image: url(../img/features-bg.svg);
	background-repeat: no-repeat;

	h2{
		text-transform: none;
	}
}

#signup {
	background-color: $color-light;

	.container {
		.card-container{

		h2{
			text-transform: none;
		}
		
		.signup-card {
			position: absolute;
			left: -30px;
			top: 30px;
			border-radius: $br;
			width: 555px;
			height: 440px;
			padding: 40px 70px;
			color: #fff;
			box-shadow: $shadow;
			background-image: linear-gradient(180deg, #00d18a 0%, #00ab8a 100%);

			h2{
				font-size: 53px;
				text-transform: uppercase;
				line-height: 58px;

				strong{
					color: #fff;
				}
			}

			.lead{
				font-size: $font-size-xl;
			}
		}

		form{
			max-width: 466px;

			h4{
				font-size: 22px;
				color: $text-dark ;
				line-height: 64px;
			}
		}	
			.list-unstyled li{
				margin: 8px 0px 0 15px; ;
			}

			.list-unstyled li:before  {
				content: "\f105"; 
				font-weight: $bold;
				font-size: 20px;
				font-family: FontAwesome;
				display: inline-block;
				margin-left: -1.3em;
				width: 1.3em; 
				color: $color-primary;
			}

			.image-container{
				width: 595px;
				height: 366px;
				position: absolute;
				top: 60px;
				right: -30px;
				border-radius: $br;
				box-shadow: 0 2px 28px rgba(47, 44, 44, 0.23);
				overflow: hidden;
			}
		}
	}
}


#reviews {
	background-color: $color-light;



	.review-image {
		width: 185px;
		height: 185px;
		border-radius: 100%;
		overflow: hidden;
		display: inline-block;
	}

	.review-text {
		p {
			font-size: $font-size-lg;
			line-height: 35px;
			position: relative;
		}

		p:before , p:after{
			content: "\f10d"; 
			font-size: 20px;
			position: absolute;
			font-family: FontAwesome;
			color: $color-primary;
		}
		p:before {
			top: -35px;
		}

		p:after {
			content: "\f10e";
			right: 10px;
			bottom: -10px;
		}
	}
	.review-user {
		font-size: $font-size-lg;
		font-weight: $bold;
	}
}


#footer {
	background-image: url(../img/bg-footer.svg);
	
	padding-top: 180px;
	color: rgba(255,255,255,0.8);
	font-size: 11px;
	font-weight: $light;

	.list-unstyled {

		li {
			line-height: 30px;
		}
		li:first-child{
			line-height: 45px;
		}
		a {
			color: #fff;
		}
		a:hover {
			text-decoration: none;
			color: $color-primary;
			font-weight: $bold;
		}
	}

	.list-inline-item {
		font-size: 20px;
		margin: 0 10px;

		a{
			color: $color-primary;
		}
	}

	.input-group {
		position: relative;
		max-width: 430px;
		.btn  {
			width: 120px;
			height: 47px;
			top: 7px;
			position: absolute;
			right: 8px;
			font-weight: $bold;
			letter-spacing: 0.5px;
			z-index: 100;
		}
	}
}














