.breadcrumb {
	background: none;

	.breadcrumb-item {
		a {
			text-decoration: none;
			color: $text-dark;
		}
	}

	.breadcrumb-item.active{
		color: $text-light;
	}

	.breadcrumb-item+.breadcrumb-item::before{
		color: $text-dark;
	}
}