/*Normal .btn styles*/

.btn-sm {
	font-size: 14px;
	line-height: 14px;
	font-weight: $bold;
	color: #fff;
	display: inline-block;
	background-color: #a1afb5;
	border-radius: 50px;
	padding: 16px 45px;
	box-shadow: 0 2px 23px rgba(36, 36, 36, 0.12);
	text-decoration: none;
}

.btn-sm:hover {
	color: #fff;
	background-color: #00d18a;
	text-decoration: none;
}

.btn-sm:focus {
	color: #fff;
	background-color: #00ab8a;
	outline: none;
	box-shadow: 0 2px 23px rgba(36, 36, 36, 0.12);
	text-decoration: none;
}

.btn-light {
	background-color:rgba(161,175,181,0.1);
	color: $text-light;
	font-weight: $regular;
	box-shadow: none;
	text-decoration: none;
}

/*.btn-lg styles */

.btn {
	display: inline-block;
	border: 0;
	border-radius: 100px;
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: $bold;
	padding: 20px 70px;
	line-height: 22px;
	height: 62px;
	box-shadow: 0 2px 23px rgba(36, 36, 36, 0.12);
	background-color: #00ab8a;
	color: #fff;
	background-image: linear-gradient(180deg, #00ab8a 0%, #00ef8a 100%);
	text-decoration: none;
}

.btn:hover{
	color: #fff;
	text-decoration: none;
	background-image: none;
	background-color: #00ef8a;
}
.btn:focus{
	background-image: linear-gradient(180deg, #008e73 0%, #00ab8a 100%);
	box-shadow: none;
}

/* Disable state for both type of buttons */

.btn.disabled , .btn-sm.disabled {
	pointer-events: none;
	background-color: #f7fbfa;
	background-image: none;
	opacity: 1;
	color: $text-light;
	background-color: $color-light ;
	box-shadow: none;
}





