.ui-datepicker {
	background-color: $color-light;
	border: none !important;
	padding: 15px 20px;
	font-family: $base-font-family;
	width: auto;
	border-radius: $br;

	.ui-datepicker-header {
		background-color: $color-light;
		border: none;
	}

	.ui-datepicker-title {
		font-weight: $regular;
	}

	.ui-state-default {
		background: none;
		border: none;
		text-align: center;
		width: 27px;
		height: 27px;
		margin: 2px 5px;
		color: $text-dark;
	}

	.ui-state-hover, .ui-state-active {
		background: $color-primary;
		color: #fff !important;
		border-radius: 50px;
		border: none;
	}

	.ui-widget-header .ui-icon {
		background: none;
	}

	.ui-datepicker-next,
	.ui-datepicker-prev{
		text-align: center;
	}

	.ui-datepicker-next:after{
		font-family: FontAwesome;
    	content: "\f105";
    	font-size: 18px;
    	font-weight: 700;
    	color: $color-primary;
	}

	.ui-datepicker-prev:after{
		font-family: FontAwesome;
    	content: "\f104";
    	font-size: 18px;
    	font-weight: 700;
    	color: $color-primary;
	}

	.ui-datepicker-next:hover:after,
	.ui-datepicker-prev:hover:after {
		color: #fff;
	}


	thead th span {
		color: $color-primary;
	}
}