#hero-carousel{
	position: relative;

	.row {
		background-color: #fff;
	}

	.img-container{
		position: absolute;
		left: -290px;
		width: 100%;
		float: right;
		z-index: 100;
	}

	.text {
		margin-top: 80px;
		min-height: 100%;
		background-color: #fff;
	}


}





#homeFeatures {
	height: auto;
	text-align: center;
	.carousel-item {
		padding: 0 15px;
	}


	.card {
		min-width: 355px;
		min-height: 400px;
		padding: 45px 10px 30px;
		margin-bottom: 20px;
		border: 0;
		border-radius: $br;
		box-shadow: $shadow;

		.card-img-top{
			max-height: 90px;
		}

		.card-title {
			color: $color-primary;
		}

		.card-text{
			font-size: $font-size-sm;
			line-height: 25px;
			margin-top: 20px;
			opacity: 0.8;
		}
	}

}

/*Default Slider style*/
	/* fix blank or flashing items on carousel */
	.owl-carousel {
		padding-left: 10px;
		text-align: center;
	}

	.owl-carousel .item {
	  position: relative;
	  z-index: 100; 
	  margin-left: 20px;
	  -webkit-backface-visibility: hidden; 
	}

	/* end fix */
	.owl-nav > div {
	  margin-top: -26px;
	  position: absolute;
	  top: 43%;
	  color: #cdcbcd;
	}

	.owl-nav i {
	  font-size: 52px;
	  font-weight: bold;
	}

	.owl-nav .owl-prev {
	  left: -30px;
	}

	.owl-nav .owl-next {
	  right: -60px;
	  color: $color-primary;
	}

	.owl-dots{
		margin-top: 10px;

	.owl-dot {
		width: 11px;
		height: 11px;
		border-radius: 50px;
		background-color : $text-dark;
		opacity: 0.2;
		display: inline-block;
		margin: 4px;
		}

		.owl-dot.active{
			background-color : $color-primary;
			opacity: 1;
		}		
	}
/*Default Slider style*/


	#reviews{
		padding: 0;
		#carousel-3{
			padding: 0px;
			margin: 0px;
		}

		.carousel-inner {
			padding: 0px !important;
			padding-bottom: 30px !important; 
		}

		.card-container {
			border-radius: 10px;
			z-index: 1000;
			margin: 0 15px;
		}

		.carousel-control-next , .carousel-control-prev{
	position: relative;
}

			.carousel-control-next:after {
				content: "\f105"; 
				font-weight: $bold;
				font-size: 40px;
				z-index: 1000;
				position: absolute;
				top: -220px;
				left: 1170px;
				font-family: FontAwesome;
				display: inline-block;
				width: 1.3em; 
				color: $color-primary;
			}

			.carousel-control-prev:before {
				content: "\f104"; 
				font-weight: $bold;
				font-size: 40px;
				z-index: 1000;
				position: absolute;
				top: -220px;
				right: 180px;
				font-family: FontAwesome;
				display: inline-block;
				width: 1.3em; 
				color: $color-primary;
			}
	}






.carousel-control-next:after {
	content: "\f105"; 
	font-weight: $bold;
	font-size: 40px;
	z-index: 1000;
	position: absolute;
	top: 40%;
	right: -60px;
	font-family: FontAwesome;
	display: inline-block;
	width: 1.3em; 
	color: $color-primary;
}

.carousel-control-prev:before {
	content: "\f104"; 
	font-weight: $bold;
	font-size: 40px;
	z-index: 1000;
	position: absolute;
	top: 40%;
	left: -60px;
	font-family: FontAwesome;
	display: inline-block;
	width: 1.3em; 
	color: $color-primary;
}

.carousel-indicators {
	bottom: -30px;
	color: red;
}

.carousel-indicators li {
	background-color: $text-dark;
	opacity: 0.2;
	width: 11px;
	height: 11px;
	border-radius: 50px;
	cursor: pointer;
}

.carousel-indicators li.active {
	background-color: $color-primary;
	opacity: 1;
}








		
