.card-container{
		box-shadow: $shadow;
		background-color: #fff;
		padding: 70px 89px 50px;
		border-radius: $br;
		position: relative;
}

.card {
	border: none;
	box-shadow: 0 2px 29px rgba(47, 44, 44, 0.09);
	text-align: center;
	border-radius: $br;

	h2 , h3 {
		color: $color-primary;
	}

	.card-text {
		font-size: $font-size-sm;
		line-height: 25px;
	}

}

.card-lg {
	padding: 60px 0;

	.card-text {
		max-width: 440px;
		margin: 10px auto;
		font-size: $font-size-lg;
		line-height: 35px;
	}

	.fa {
		font-size: 100px;
		color: $color-primary;
	}


}

.card-lg:hover {
		background-image: linear-gradient(180deg, #00d18a 0%, #00ab8a 100%);
}


.card-lg:hover{

	h2 , .fa , .card-text{
		color: #fff;
	}

	.btn-sm {
		background-color: #fff;
		color: $color-primary;
	}

	.btn-light {
	background-color: rgba(255,255,255,0.1);
	color: #fff;
	}
} 


.cat-card {
	.card-body {
		padding: 40px 20px 100px;

		.card-text {
			font-size: $font-size-lg;
			line-height: 35px;
		}
	}
	
}

.lesson-card{

	.card-title {
		margin-bottom: 0;
	}

	.card-text {
		line-height: 25px;
	}
	.card-head{
		position: relative;

		.icons{
			position: absolute;
			bottom: 16px;
			right: 30px;

			.fa{
				margin-left: 10px;
				color: #fff;
				font-size: 25px;
			}
		}
	}

	.distance {
		color: $text-light;
	}

	.price {
		font-size: $font-size-lg;

		strong {
			color: $text-dark;
		}
	}
}

.ratings {
		.fa-star {
			color: $color-primary;
		}
	}


.card-service {
	.service-img {
		display: block;
		width: 134px;
		height: 134px;
		border-radius: 100px;
		margin: 50px auto 0;
	}
}

.price-block {
	color: $text-light;
	font-weight: $bold;

	.title {
		display: block;
		font-weight: $regular;
		color: $color-primary;
	}
	.price {
		font-size: 55px;
		vertical-align: top;
		line-height: 55px;
		color: $color-primary;
	}
}

.price-block-lg{
	font-size: 36px;
	.title {
		display: block;
		font-weight: $regular;
		color: $color-primary;
		font-size: 39px;
		line-height: 49px;
		margin-bottom: 10px;
	}
	.price {
		font-size: 105px;
		vertical-align: top;
		line-height: 70px;
		color: $color-primary;
		padding: 0 8px;
		display: inline-block;
	}
}

.card-options {

	.option {
		display: inline-block;
		margin: 5px 10px;

		a {
			text-decoration: none;
		}


		span {
			color: $text-light;
			padding-left: 5px;
		}
	}
}

.cover {
	max-height: 510px;
	position: relative;
	margin-bottom: 100px;

	.bg-img {
		background-color: $color-primary;
		height: 300px;
		overflow: hidden;
	}

	.cover-meta{
		position: absolute;
		bottom: -100px;

		.profile-img {
			display: inline-block;
			width: 215px;
			height: 215px;
			background-color: #eee;
			border-radius: 200px;
			border: 6px solid #fff;
			position: relative;

			.change-profile {
				background-color: #fff;
				position: absolute;
				right: 0;
				bottom: 20px;
				width: 38px;
				height: 38px;
				border-radius: 50px;
				display: inline-block;
				text-align: center;
				padding-top: 7px;
				box-shadow: 0 0 20px rgba(36, 36, 36, 0.12);
			}
		}

		.profile-meta {
			display: inline-block;
			vertical-align: top;
			margin-left: 40px;
			position: relative;

			h1 {
				text-transform: capitalize;
				color: #fff;
				text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			}

			.edit {
				color: #fff;
				position: absolute;
				right: -60px;
				bottom: 18px;
				text-decoration: none;
			}
		}
	}

	.change-cover {
		position: absolute;
		background-color: #fff;
		right: 30px;
		top: 30px;
		z-index: 1000;
		width: 38px;
		height: 38px;
		border-radius: 50px;
		text-align: center;padding-top: 8px;
		box-shadow: 0 0 20px rgba(36, 36, 36, 0.12);
	}

	img {
		height: auto;
		width: 100%;
	}
}



.meta-block {
	.profile-img {
		display: inline-block;
		width: 215px;
		height: 215px;
		background-color: #eee;
		border-radius: 200px;
		overflow: hidden;
		border: 6px solid #fff;
	}

	.profile-img ,
	.profile-meta {
		display: inline-block;
		vertical-align: top;
	}

	.profile-meta {
		margin-left: 30px;

		h2{
			font-size: 41px;
			margin-top: 15px;
		}
	}

}







.card-review {
	text-align: left;
	padding: 50px;
	.profile-img {
		width: 48px;
		height: 48px;
		background-color: #eee;
		border-radius: 50px;
		display: inline-block;
	}

	.card-meta {
		display: inline-block;
		vertical-align: top;
		margin-left: 16px;
		width: 75%;

		.date{
			color: $text-light;
		}
	}
}


.horizontal-card {
	.check-container {
		float: right;
	}
	.card-image {
		display: inline-block;
		width: 100%;
		border-radius: $br;
		min-height: 100px;
		background-color: #eee;
		vertical-align: top;
	}

	h3 {
		color: $text-dark;
	}
	.close {
		color: $color-primary;
		opacity: 1;
	}
}


/* Table row */
.special-row{

	td {
		vertical-align: middle;
		border: none;
		background-color: $color-light;
		color: $text-light;
	}
	
	td:first-child{
		border-radius: 50px 0 0 50px;
		color: $color-primary;
		padding-left: 50px;
	}

	td:last-child{
		border-radius: 0 50px 50px 0;
		text-align: right;
	}
}


