/* Input styles START*/

.form-group {
	margin-bottom: 20px;

	label {
		font-size: 14px;
		margin-bottom: 20px;
		color: $color-primary;
	}
}

.form-control ,  select.form-control:not([size]):not([multiple]) {
	padding: 19px 33px !important;
	height: 62px;
	border-radius: 50px !important;
	border: 0;
	background-color: $color-light;
	color: $text-dark ;
}

.form-control::placeholder{
	color: #a1afb5;
}

.select-container {
	position: relative;
	height: auto;
	width: 100%;
	background-color: $color-light;
	border-radius: 50px;
	padding: 0 30px;
}
 select {
 	max-width: 100%;
 	display: inline-block;
 	border: 0;
 	color: #a1afb5 !important;
 }

input.form-control:focus , input.form-control:hover{
	outline: 0;
	box-shadow: 0 2px 23px rgba(36, 36, 36, 0.12);
	border: 0;
	background-color: #fff;
}

/* Input styles END*/


/*Dropdown Select styles START */

.dropdown.bootstrap-select{
	min-width: 100%;

	.dropdown-toggle::after{
		content: '\f107';
		font-family: "FontAwesome";
		font-weight: $bold;
		font-size: 28px;
		opacity: 1;
		color: $color-primary;
		border: none;
		position: absolute;
		right: 45px;
	}

	.btn{
		padding: 20px 32px;
		font-weight: $regular;
		color: #d2e1e8;
		background-image: none;
		background-color: $color-light;
		box-shadow: none; 
	}
	.btn:hover {
		color: #2b3c43;
		background-color: #fff;
		z-index: 1000;
		box-shadow: 0 2px 23px rgba(36, 36, 36, 0.12);
	}
	.btn:focus{
		box-shadow: none !important;
		outline: none !important;
	}
}

.dropdown.bootstrap-select.show{
	box-shadow: 0 2px 23px rgba(36, 36, 36, 0.12);
	border-radius: 50px 50px 0px 0px;
	.btn:hover{
		box-shadow: none;
	}
	.btn{
		color: #2b3c43;
		background-color: #fff;
		border-radius: 50px 50px 0px 0px;
		z-index: 500;
	}

	.dropdown-menu {
		padding: 0px 8px 10px;
		z-index: 100;
		border: none;
		margin-top: 0px;
		border-radius: 0 0 50px 50px;
		background-color: #fff;
		box-shadow: 0 2px 23px rgba(36, 36, 36, 0.12);
		

		.inner{
			box-shadow: none;
		}

		.active a ,
		.dropdown-item:active,
		.dropdown-item:focus{
			background-color: $color-primary;
			box-shadow: none;
			outline: none;
			z-index: 1001;
				position: relative;
		}

		li {
			margin: 2px 0;
				a{
				padding: 10px 16px;
				border-radius: 50px;
				display: block;

			}
		}
	}
}

.dropdown.bootstrap-select.show{
	.dropdown-toggle::after{
		content: '\f106';
	}
}

/*Dropdown Select styles END */


/*Checkbox styles START*/


/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  color: $text-light;
  user-select: none;

	input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}

	.label {
		color: $text-light !important;
		vertical-align: top;
	}

	.checkmark {
	  position: absolute;
	  top: 1px;
	  left: 0;
	  height: 18px;
	  width: 18px;
	  border: 2px solid $text-light;
	  border-radius: 5px;
	  background: #fff;
	}

	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
		left: 5px;
	  	top: 1px;
	  	width: 5px;
	  	height: 10px;
	  	border: solid white;
	  	border-width: 0 3px 3px 0;
	  	transform: rotate(45deg);
	}

	input:checked ~ .checkmark {
	  background-color: $color-primary;
 	 border: 2px solid $color-primary;
	}

	input:checked ~ .label{
	color: $color-primary !important;
	}

	input:checked ~ .checkmark:after {
	  display: block;
	}

}

.check-container:hover{
	input ~ .checkmark {
 	border: 2px solid $color-primary;
	}

	input ~  .label{
	color: $color-primary !important;
	}

}


/*Checkbox styles END*/



/*Radio Buttons styles START*/


.radio-container {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;

	  input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}
	.label {
	color: $text-light;
	}

	.checkmark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  top: 1px;
	  height: 18px;
	  width: 18px;
	  border: 2px solid $text-light;
	  border-radius: 50%;
	}

	input:checked ~ .checkmark {
	  background-color: $color-primary;
	  border: 2px solid $color-primary;
	}

	input:checked ~ .checkmark:after {
  display: block;
}
input:checked ~ .label{
	color: $color-primary !important;
	}



	 .checkmark:after {
		  top: 3px;
		  left: 3px;
		  width: 8px;
		  height: 8px;
		  border-radius: 50%;
		  background: white;
		}

		.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


}





.radio-container:hover {
	input ~ .checkmark {
	  background-color: #fff;
	  border: 2px solid $color-primary;
	}

	input ~ .label{
	color: $color-primary !important;
	}
}























