#main-nav {

	background-color:rgba(255,255,255,0.95);
	padding: 20px 10px;
	.nav-item {
		margin-left: 50px;
	}

	.nav-link {
		color: $text-dark;
		font-size: $font-size-sm;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}

	.active {
		.nav-link {
			font-weight: $bold;
			color: $color-primary;
		}
	}
}