@media (max-width: 1300px){
	#homeFeatures {
		.container {
			min-width: 320px !important;
		}
	}

	} /*max-width: 1300px*/

@media (max-width: 1280px){

	.carousel-control-prev ,
	.carousel-control-next {
		display: none;
	}

	#homeFeatures {
		.card {
			min-width: 420px;
		}

		.owl-nav {
			display: none;
		}
	}


	#signup {
		
		.row {
				padding: 15px;
			}
		.signup-card {
			position: static !important;
			width: 48% !important;
			height: auto !important;

			} /*.signup-card*/

			form {
				max-width: 100% !important;
			}

		}/*#signup*/

		#businesses {
			text-align: center;
		}

			.image-container {
			position: static !important;
			max-width: 50%;
			float: none;
			margin-top: 50px;	
		} /*.image-container*/

}/* max-width: 1280px*/


@media (max-width: 991px){
	#homeFeatures {
		.card {
			min-width: 320px;
			max-width: 320px;
		}
	}
	.image-container {
			max-width: 100%;
			margin:  20px auto;	
		} /*.image-container*/

	.cover {
		.edit {
			top: 30px;
			right: 0px !important;
		}
	}

	.horizontal-card {
		div {
			margin: 5px 0;
			text-align: center !important;
		}
	.check-container {
		float: right;
		display: none;
	}}
}/* max-width: 991px*/


@media (max-width: 767px){
	#hero-carousel {
		.text {
			margin-top: 40px;
			padding-left: 30px;
		}
		
	}

	#homeFeatures {
		padding-top: 100px;

	}
	#signup{


	.signup-card {
			width: 100% !important;
			padding: 20px !important;
		}
	}

	.card-container{
		padding: 20px !important; 
	}

	.carousel-item .text-right{
		text-align: center;
	}

	#footer {
		background-size: cover;
	}

	.card {
		padding: 0;
		.card-body {
			padding: 10px !important;
		}
	}

	.cover {

		.cover-meta{
			position: static;
			margin-top: -100px;
			text-align: center;

			h1 {
				color: $text-dark !important;
				text-shadow: none !important;
			}

			.profile-meta {
				margin: 10px 0;
			}

			.edit {
				color: $color-primary !important;
			}
		}
	}

	.meta-block{
		text-align: center;
		.profile-meta{
			margin: 10px 0;
		}
	}
}/* max-width: 767px*/



@media (max-width: 700px){
	#homeFeatures {
		.card {
			min-width: 280px;
			max-width: 500px;
		}
	}
}


@media (max-width: 575px){
	#businesses {
	.list-unstyled {
		padding: 0 !important;
	}
	.list-unstyled:last-child {
		margin-top: -18px;
	}
	}

		#homeFeatures {
		background-color: $color-light;
		.owl-carousel {
			margin: 0 auto;
		}
		.card {
			min-width: 260px;
			max-width: 260px;
		}
	}
}	







