strong {
	font-weight: $bold;
	color: $color-primary;
}

h1 , h2 , h3 {
	font-weight: $regular;
}

h1 {
	font-size: 41px;
	line-height: 54px;
}

h2 {
	font-size: 33px;
	line-height: 44px;
}

h3 {
	font-size: 23px;
	line-height: 44px;
}

h4 {
	font-size: 18px;
	line-height: 35px;
}

h5 {
	font-size: 23;
	line-height: 44px;
}

.lead {
	font-size: 22px;
	line-height: 38px;
	font-weight: $regular;
}

.u-list {
	list-style: none;

		li:before  {
			content: "\f105"; 
			font-weight: $bold;
			font-size: 20px;
			font-family: FontAwesome;
			display: inline-block;
			margin-left: -1.3em;
			width: 1.3em; 
			color: $color-primary;
		}
}