$light: 100;
$regular: 400;
$bold: 700;

// Base Font
$base-font-family: 'Montserrat' , sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-size-xl: 29px;
$base-line-height: 25px;

// colors 
$color-primary : #00d18a;
$color-light : #f7fbfa;

$text-dark : #2b3c43;
$text-light : #a1afb5;


// border-radius
$br : 10px;

// Shadow
$shadow :  0 2px 29px rgba(47, 44, 44, 0.09);