.pagination {
	.page-item {
			a{
		border: none;
		background-color: $color-light;
		width: 33px;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		color: $text-dark;
		}
	}

	.page-item.active a{
		background-color: $color-primary;
		border-radius: 50px !important;
		z-index: 100;
	}

	.page-item.active{
		background-color: $color-light;
	}

	.page-item:first-child a,
	.page-item:last-child a{
		background: none;
	}

	.page-item:first-child + .page-item a{
		border-radius: 50px 0 0 50px;
	}

	.page-item:nth-last-child(2) a{
		border-radius: 0px 50px 50px 0px;
	}

	.page-item:nth-last-child(1) a,
	.page-item:first-child a{
		color: $color-primary;
		font-weight: $bold;
	}
	
}